|Scenario|Action|Expected results|Actual result| Grade|
|:---|:---|:---|:---|:---|
|Sign In|Fill the fields in, click on the "Sign In"| Main page is open | Main page is open | + |
|Sign Up|Fill the fields in, click on the "Sign Up"| Main page is open | Main page is open | + |
|Sign out|Click on "Sign out" button | Registration page is open |  Registration page is open | + |
|Add a task|Click on "Add a task" button | The new task is added | not implemented | - |
|Delete a task|Click on "Delete" button | Selected task is deleted | not implemented | - |
|Edit a task|Click on "Edit" button | Edit's window is open | not implemented | - |
|Hash a password|Click on "Sign Up" button | The password is encrypted | The password is encrypted | + |
